*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,
body{
    height: 100%;
}
body{
    background: rgb(66, 66, 66);
    

}
:root{
    --main-color: #f8b281;
    --secondary-color:#1b1b1b;
}
@font-face {
    font-family: "argonate";
    src: url("./assets/stone\ orgonite.woff");
}
h2{
    font-size: 2.5rem;
    line-height: 125%;
    padding: 1rem 0rem;

}
.links{
    display: none;
}
.logo{
    display: flex;
}